<launch>	
	<group ns ="apm">
		<!-- PID -->
		<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" respawn="true" />

		<!-- PLOTTING -->
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_rc" args=" send_rc/channel[0] send_rc/channel[1] send_rc/channel[2] send_rc/channel[3]" respawn="true" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_pose_position" args=" mocap/alt_desired/x:y:z  mocap/pose/position/x:y:z " respawn="true" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_pose_orientation" args=" mocap/euler/vector/x:y:z mocap/euler_desired/x:y:z" respawn="true" />
	</group>
</launch>	
